<table>
    <tr><td><a href="./vision"    target="principal"> Visión       </a></td></tr>
    <tr><td><a href="./mision"    target="principal"> Misión       </a></td></tr>
    <tr><td><a href="./about"     target="principal"> About us      </a></td></tr>
    <tr><td><a href="/admin"      target="principal"> Administrator </a></td></tr>
    <tr><td><a href="./mapa"      target="principal"> Mapa          </a></td></tr>
    <tr><td><a href="./pedido"    target="principal"> Pedido        </a></td></tr>
<table>    
    